.about_Content {
    margin-top: 3%;
}

.about_Sidebar {
    position: relative;
    left: 15%;
    max-width: 12%;
    float: left;
}

.about_Sidebar h4 {
    padding: 25px 20px;
    background-color: navy;
    color: white;
    max-width: 100%;
    
}



.about_Category h4 {
    padding: 10px 50px 10px 18px;
    background: rgb(236, 232, 232);
    border: 1px solid;
    margin: 2px 0;
}



.about_Category h4 a {
    color: rgb(75, 75, 155);
    font-size: 17px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    display: block;

}

.about_Sidebar img {
    margin-top: 10px;
    width: 100%;
}

.about_Company {
    height: 750px;
    overflow-y: hidden;
    position: relative;
    left: 17%;
    max-width: 55%;
}

.about_Company h3 {
    font-weight:normal;
    position: relative;
    margin-bottom: 20px;
}


.about_Company hr {
    position: relative;
    max-width: 90%;
    color: gray;
    margin: 0 0 20px 0;
}

.about_Company p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #666;
    float: left;
    max-width: 90%;
    line-height: 25px;
    font-size: 14px;
}

.about_Company img {
    margin-top: 30px;

}

