.title {
    margin: 10px auto;
    width: 439px;
}

/* displays default image */
.default_Image {
    display: initial;
}


* {
    box-sizing:border-box;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}