.content {
    margin-top: 3%;
}

.sidebar {
    position: relative;
    left: 15%;
    max-width: 12%;
    float: left;
}

.sidebar h4 {
    padding: 25px 20px;
    background-color: navy;
    color: white;
    max-width: 100%;
}

.category {
    margin: 20px 0;
}

.category span {
    color: rgb(75, 75, 155);
    font-size: 20px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

.subcategory {
    max-width: 100%;
}

.subcategory span {
    margin-right: 15px;
    font-size: 16px;
    color: gray;
    line-height: 25px;
    max-width: 100%;
}

.sidebar hr {
    border-top: dashed 2px;
    margin: 10px 0;
    max-width: 100%;
    color: gray;
}

.sidebar img {
    margin-top: 10px;
    width: 100%;
}


.product_List {
    height: 900px;
    overflow-y: hidden;
    position: relative;
    left: 17%;
    max-width: 55%;
}

.product_List h3 {
    font-weight:normal;
    position: relative;
    margin-bottom: 20px;
}

.product_List hr {
    position: relative;
    max-width: 92%;
    color: gray;
    margin: 0 0 20px 0;
}